.draft-editor {

  div[data-block] {
    display: inline-block;
  }

  input, select, textarea {
    margin-bottom: 0;
  }

  pre {
    color:       $code-color;
    font-family: $code-font-family;
    font-weight: $code-font-weight;
    background:  $code-background;
    border:      $code-border;
    padding:     $code-padding;
  }

  pre > pre {
    border:  0;
    padding: 0;
  }

}
