#test-show-edit {

  i.action {
    cursor:    pointer;
    color:     $dark-gray;
    font-size: 1.5rem;
  }

  i.action.primary {
    color: $primary-color;
  }

  i.action.alert {
    color: $alert-color;
  }

  .actions {

    .action {
      margin-right: 0.5rem;

      &:last-child {
        margin-right: 0;
      }
    }

    &.left {
      position: absolute;
      left:     1rem;
      top:      1rem;
    }

    &.right {
      position: absolute;
      right:    1rem;
      top:      1rem;
    }
  }

  .drag-handle i, .drag-handle {
    cursor: move !important;
  }

  .sections-list {

    .section {
      position:   relative;
      border-top: 1px solid $light-gray;

      &:last-child {
        border-bottom: 1px solid $light-gray;
      }

      .edit-form {
        margin-top:   1rem;
        padding-left: 3rem;
      }

      .content {
        padding:    1rem 3rem;
        transition: background-color 0.25s ease-out;

        &:hover {
          background-color: #def0fc;
        }

        &.expanded {
          background-color: #ebebeb;
        }

        .title {
          margin-bottom: 0;
        }

        .description {
          font-style:    italic;
        }

        .attributes {
          margin-top: 0.5rem;
        }
      }
    }
  }

  .questions-list {
    padding-left:  3rem;
    margin:        1rem 0;

    .question {
      border-bottom: 1px solid $light-gray;
      padding:       1rem 0;
      position:      relative;

      &:first-child {
        border-top: 1px solid $light-gray;
      }

      .main-content {
        padding: 0 3rem;

        .edit-answer-options {
          margin-top: 1rem;

          input, label, textarea {
            margin-bottom: 0;
          }

          .graggable-option {
            font-size: 12px;

            .handle i {
              display:        inline-block;
              color:          $dark-gray;
              cursor:         move;
              margin-right:   0.5rem;
              font-size:      1rem;
            }
          }

          .choice-option {

            .drag-handle {
              display: none;
            }

            &:hover {

              .index-label {
                display: none;
              }

              .drag-handle {
                display: block;
              }
            }
          }
        }

        .controls {
          padding-top: 0.5rem;

          .editor-control-group {
            margin-right: 1rem;
            color:        $secondary-color;
            display:      inline-block;

            &:last-child {
              margin-right: 0;
            }

            .group-title {
              margin-right:   0.5rem;
              font-style:     italic;
              font-size:      0.9rem;
            }

            .style-button {
              cursor:    pointer;

              &.active {
                color: $primary-color;
              }

              i {
                font-size: 1.35rem;
              }
            }
          }
        }
      }
    }
  }
}
