#test-show-edit {

  i.action {
    cursor:    pointer;
    color:     $dark-gray;
    font-size: 1.5rem;
  }

  .actions {

    .action {
      margin-right: 0.5rem;

      &:last-child {
        margin-right: 0;
      }
    }

    &.left {
      position: absolute;
      left:     1rem;
      top:      1rem;
    }

    &.right {
      position: absolute;
      right:    1rem;
      top:      1rem;
    }
  }

  .drag-handle i, .drag-handle {
    cursor: move !important;
  }

  .section {
    border-top: 1px solid $light-gray;
    padding:    1rem;

    &:last-child {
      border-bottom: 1px solid $light-gray;
    }
  }

  .sections-list {

    .section {
      position: relative;
    }

    .section-content {
      padding: 0 3rem;

      .counter-item {
        margin: 0 1rem 0 0
      }

    }
  }

  .questions-list {
    padding-left:  3rem;
    margin-bottom: 1rem;

    .question {
      border-top:    1px solid $light-gray;
      padding:       1rem 0;
      position:      relative;

      &:last-child {
        border-bottom: 1px solid $light-gray;
      }

      .main-content {
        padding: 0 3rem;

        .edit-answer-options {
          margin-top: 1rem;

          input, label, textarea {
            margin-bottom: 0;
          }

          .graggable-option {
            font-size: 12px;

            .handle {
              display:        inline-block;
              color:          $dark-gray;
              cursor:         move;
              margin-right:   0.5rem;
            }
          }

          .choice-option {

            .drag-handle {
              display: none;
            }

            &:hover {

              .index-label {
                display: none;
              }

              .drag-handle {
                display: block;
              }
            }
          }
        }

        .controls {
          padding-top: 0.5rem;

          .editor-control-group {
            margin-right: 1rem;
            color:        $secondary-color;
            display:      inline-block;

            &:last-child {
              margin-right: 0;
            }

            .group-title {
              vertical-align: top;
              margin-right:   0.5rem;
              font-style:     italic;
              font-size:      0.9rem;
            }

            .style-button {
              cursor:    pointer;

              &.active {
                color: $primary-color;
              }

              i {
                font-size: 1.35rem;
              }
            }
          }
        }
      }
    }
  }
}
