$push-height: 3.5rem;

html, body {
  font-family:      'Open Sans', sans-serif;
  background-color: $light-gray;

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
  }

  i.material-icons {
    line-height: 1rem;
    vertical-align: middle;
  }

  #wrap {
    height:        auto !important;
    min-height:    100%;
    margin-bottom: -$push-height;

    #page-title {
      height:      $push-height;
      padding-top: 0.5rem;
    }

    #content-wrapper {
      background-color: $white;
      padding:          1rem;
      box-shadow:       1px 1px 2px 0 $medium-gray;
      min-height:       calc(100vh - #{3 * $push-height} - 35px);
      margin-bottom:    30px;
    }
  }

  #push	{
    height: $push-height;
  }

  #footer {
    background-color: #333333;
    height:           $push-height;
    color:            $white;
    padding:          1rem;
    text-align:       center;
  }

  #set_time_for_test{
    display: none;
  }
}
